body {
    background: url(../img/ajaxFromage.jpg);
    height: 100%;
    padding: 0;
    margin: 0;
}
section {
       
}

h1 {
    color: rgb(241, 241, 241);

}
article {
    color: white;
    font-size: 0.8em;
    width: 50%;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    box-shadow: 3px 3px 4px black;
    padding: 15px;
    margin: 10px;
}