* {
	margin: 0;
	padding: 0;
	list-style-type: none;
    box-sizing: border-box;
}
body {
	background: #eee;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

/* Conteneur de l'horloge */
main {
    width: 300px;
}

    /* Horloge */
    section {
        width: 300px;
        height: 300px;
        border-radius: 100%;
        background: #3F484A;
        box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5), 1px 1px 2px rgba(0, 0, 0, 0.3);
    }

        /* Points de l'horloge */
        section article {
            position: absolute;
            width: 10px;
            height: 10px;
            background: #777;
            left: 145px;
            top: 24px;
            border-radius: 100%;
            -webkit-transform-origin: 50% 126px;
            transform-origin: 50% 126px;
        }
            /* On dispose les points à partir du centre de l'horloge */
            .point-12 { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
            .point-1 { -webkit-transform: rotate(30deg); transform: rotate(30deg); }
            .point-2 { -webkit-transform: rotate(60deg); transform: rotate(60deg); }
            .point-3 { -webkit-transform: rotate(90deg); transform: rotate(90deg); }
            .point-4 { -webkit-transform: rotate(120deg); transform: rotate(120deg); }
            .point-5 { -webkit-transform: rotate(150deg); transform: rotate(150deg); }
            .point-6 { -webkit-transform: rotate(180deg); transform: rotate(180deg); }
            .point-7 { -webkit-transform: rotate(210deg); transform: rotate(210deg); }
            .point-8 { -webkit-transform: rotate(240deg); transform: rotate(240deg); }
            .point-9 { -webkit-transform: rotate(270deg); transform: rotate(270deg); }
            .point-10 { -webkit-transform: rotate(300deg); transform: rotate(300deg); }
            .point-11 { -webkit-transform: rotate(330deg); transform: rotate(330deg); }

        /* Premier centre des aiguille */
        .watch-face-centre {
            position: absolute;
            width: 12px;
            height: 12px;
            top: 144px;
            left: 144px;
            border-radius: 100%;
            background: #fff;
        }
        /* Deuxième centre des aiguille */
        .watch-face-centre-inner {
            position: absolute;
            z-index: 1;
            width: 8px;
            height: 8px;
            top: 2px;
            left: 2px;
            border-radius: 100%;
            background: #333;
            border: 2px solid red;
        }

        /* aiguille */
        .aiguille {
            position: absolute;
        }

            .aiguille.heure {
                width: 4px;
                height: 60px;
                top: 90px;
                left: 148px;
                border-radius: 10px;
                background: #fff;
                -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
                -webkit-transform: rotate(306deg);
                transform: rotate(306deg);
            }
            .aiguille.minute {
                width: 4px;
                height: 120px;
                top: 30px;
                left: 148px;
                border-radius: 10px;
                background: #fff;
                -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
                -webkit-transform: rotate(50deg);
                transform: rotate(50deg);
            }
            .aiguille.seconde {
                width: 2px;
                height: 145px;
                top: 20px;
                left: 149px;
                border-radius: 10px;
                background: red;
                -webkit-transform-origin: 50% 130px;
                transform-origin: 50% 130px;
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }