body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: black;
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60vh;
    margin: auto;
}

#rouge {
    width: 20vh;
    height: 20vh;
    border-radius: 100%;
    animation: sequenceRouge 20s step-start infinite;
    background-color: red;
    opacity: 0.3;
    margin-bottom: 2vh;
}

#jaune {
    width: 20vh;
    height: 20vh;
    border-radius: 100%;
    animation: sequenceJaune 20s step-start infinite;
    background-color: yellow;
    opacity: 0.3;
    margin-bottom: 2vh;
}

#vert {
    width: 20vh;
    height: 20vh;
    border-radius: 100%;
    animation: sequenceVert 20s step-start infinite;
    background-color: rgb(0, 218, 0);
    opacity: 0.3;
    margin-bottom: 2vh;
}

#rouge2 {
    width: 20vh;
    height: 20vh;
    border-radius: 100%;
    animation: sequenceRouge2 20s step-start infinite;
    background-color: red;
    opacity: 0.3;
    margin-bottom: 2vh;
}

#jaune2 {
    width: 20vh;
    height: 20vh;
    border-radius: 100%;
    animation: sequenceJaune2 20s step-start infinite;
    background-color: yellow;
    opacity: 0.3;
    margin-bottom: 2vh;
}

#vert2 {
    width: 20vh;
    height: 20vh;
    border-radius: 100%;
    animation: sequenceVert2 20s step-start infinite;
    background-color: rgb(0, 218, 0);
    opacity: 0.3;
    margin-bottom: 2vh;
}

@keyframes sequenceVert {
    0% {opacity: 1;}
    10% {opacity: 1;}
    20% {opacity: 1;}
    30% {opacity: 1;}
    40% {opacity: 0.3;}
    50% {opacity: 0.3;}
    60% {opacity: 0.3;}
    70% {opacity: 0.3;}
    80% {opacity: 0.3;}
    90% {opacity: 0.3;}
    95% {opacity: 0.3;}
    100% {opacity: 0.3;}
}
@keyframes sequenceJaune {
    0% {opacity: 0.3;}
    10% {opacity: 0.3;}
    20% {opacity: 0.3;}
    30% {opacity: 0.3;}
    40% {opacity: 1;}
    50% {opacity: 1;}
    60% {opacity: 0.3;}
    70% {opacity: 0.3;}
    80% {opacity: 0.3;}
    90% {opacity: 0.3;}
    95% {opacity: 0.3;}
    100% {opacity: 0.3;}
}
@keyframes sequenceRouge {
    0% {opacity: 0.3}
    10% {opacity: 0.3;}
    20% {opacity: 0.3;}
    30% {opacity: 0.3;}
    40% {opacity: 0.3;}
    50% {opacity: 0.3;}
    60% {opacity: 1;}
    70% {opacity: 1;}
    80% {opacity: 1;}
    90% {opacity: 1;}
    95% {opacity: 1;}
    100% {opacity: 1;}
}

@keyframes sequenceRouge2 {
    0% {opacity: 1;}
    10% {opacity: 1;}
    20% {opacity: 1;}
    30% {opacity: 1;}
    40% {opacity: 1;}
    50% {opacity: 1;}
    60% {opacity: 0.3;}
    70% {opacity: 0.3;}
    80% {opacity: 0.3;}
    90% {opacity: 0.3;}
    95% {opacity: 0.3;}
    100% {opacity: 0.3;}
}
@keyframes sequenceVert2 {
    0% {opacity: 0.3}
    10% {opacity: 0.3;}
    20% {opacity: 0.3;}
    30% {opacity: 0.3;}
    40% {opacity: 0.3;}
    50% {opacity: 0.3;}
    60% {opacity: 1;}
    70% {opacity: 1;}
    80% {opacity: 1;}
    90% {opacity: 1;}
    95% {opacity: 0.3;}
    100% {opacity: 0.3;}
}
@keyframes sequenceJaune2 {
    0% {opacity: 0.3;}
    10% {opacity: 0.3;}
    20% {opacity: 0.3;}
    30% {opacity: 0.3;}
    40% {opacity: 0.3;}
    50% {opacity: 0.3;}
    60% {opacity: 0.3;}
    70% {opacity: 0.3;}
    80% {opacity: 0.3;}
    90% {opacity: 0.3;}
    95% {opacity: 1;}
    100% {opacity: 1;}
}