body {
    background-color: black;
    text-align: center;
    color: white;
}

h1 {
    color: white;
    text-align: center;
}

#div0 {
    width: 85%;
    text-align: center;
    /* Doit être de la même valeur */
    float: left;
    height: 300px;
}
#div1 {
    background-color: grey;
    width: 40%;
    text-align: center;
    /* Doit être de la même valeur */
    height: 100%;
    float: left;
    line-height: 100%;
}
#div2 {
    background-color: aqua;
    width: 58%;
    text-align: center;
    /* Doit être de la même valeur */
    float: right;
    height: 100%;
}

#div00 {
    width: 100%;
    text-align: center;
    /* Doit être de la même valeur */
    height: 300px;
}
#div3 {
    background-color: grey;
    width: 30%;
    text-align: center;
    /* Doit être de la même valeur */
    height: 100%;
    float: left;
    margin-left: 15%;
    margin-right: 1%;
    margin-top: 2%;
}
#div4 {
    background-color: grey;
    width: 30%;
    text-align: center;
    /* Doit être de la même valeur */
    height: 100%;
    float: left;
    margin-right: 15%;
    margin-left: 1%;
    margin-top: 2%;
}

#div000 {
    background-color: aqua;
    height: 300px;
    width: 75px;
    position: fixed;
    right: 0;
    top: 30px;
}

#div0000 {
    width: 100%;
    /* Doit être de la même valeur */
    height: 300px;
}

#div5 {
    background-color: grey;
    width: 15%;
    text-align: center;
    /* Doit être de la même valeur */
    height: 100%;
    float: left;
    margin-top: 30px;
}
#div6 {
    background-color: grey;
    width: 30%;
    text-align: center;
    /* Doit être de la même valeur */
    height: 100%;
    float: right;
    margin-top: 30px;
}

footer {
    background-color: aqua;
    width: 20%;
    bottom: 0;
    left: 40%;
    position: fixed;
}