body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: grey;
    
}

section {
    margin-top: 20vh;
    width: 100vh;
    height: 60vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-shadow: 2px 2px 2px #000000;
    color:white;
    position: absolute;
}