body {
    margin: 0;
    padding: 0;
    height: 100%;
    border: 0;
}

header {
    width: 100%;
    height: 20vh;
    background-color: #cccccc;
    display: flex;
    justify-content: center;
}

#tete {
    width: 25vh;
    height: 20vh;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.oeil {
    width: 4vh;
    height: 4vh;
    border-radius: 100%;
    background-color: grey;
    margin-left: 3vh;
    margin-right: 3vh;
    margin-top: 5vh;
}

#bouche {
    width: 12vh;
    height: 1vh;
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5vh;
}
#bouche2 {
    width: 10vh;
    height: 1vh;
    background-color: rgb(189, 189, 189);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5vh;
}

nav {
    height: 3vh;
    background: rgb(168, 168, 168);
    width: 100%;
    display: flex;
    justify-content: center;
}

#cou {
    width: 6vh;
    height: 100%;
    background-color: rgb(224, 224, 224);
}

main {
    display: flex;
    justify-content: center;
    background-color: #999999;
    height: 40vh;
}

#tronc {
    width: 35vh;
    height: 100%;
    background-color: white;
}

.membres {
    width: 12vh;
    height: 100%;
    background-color: white;
    margin-left: 2vh;
    margin-right: 2vh;
}

footer {
    height: 37vh;
    background-color: #7f7f7f;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#bas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 30vh;
}

.jambes {
    width: 13vh;
    height: 30vh;
    background-color: rgb(236, 236, 236);
}

.pieds {
    width: 13vh;
    height: 6vh;
    background-color: black;
    margin-top: 1vh;
}


