body {
    background: purple; 
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
section {
    display: flex;
    justify-content: center;
    width: 95%;
    margin-top: 20vh;
}

img {
    width: 100%;
    height: 100%;
}

.faceVisible {
    width: 40vh; height:50vh;
    margin-right: 2.5%;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: 0.5s;
    border:solid white 5px;
    background: white;
    text-align: center;
}
.faceVisible:hover{
		-webkit-transform: rotateY(180deg);				
	}

.cachee {
	position: absolute;
	backface-visibility:hidden;
    -webkit-backface-visibility: hidden;
    width: 100%;
    height: 65%;
}
.faceCachee {
        width: 100%; height:100%;
        margin-right: 2.5%;
		-webkit-transform: rotateY(180deg);
		background: white; 
	}

