body {
    margin: 0;
    padding: 0;
    height: 100%;
    border: 0;
}

header {
    width: 100%;
    height: 20vh;
    background-color: #cccccc;
    display: flex;
    justify-content: center;
}
    header #tete {
        width: 15%;
        height: 20vh;
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
        header #tete .oeil {
            width: 15%;
            height: 4vh;
            border-radius: 100%;
            background-color: grey;
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 5vh;
            /* Animation */
            animation: yeuxFerme 4s infinite;
        }
        header #tete #bouche {
            width: 50%;
            height: 1vh;
            background-color: grey;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0.5vh;
        }
        header #tete #bouche2 {
            width: 75%;
            height: 1vh;
            background-color: rgb(189, 189, 189);
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0.5vh;
        }
        header #bulle {
            display: none;
            position: absolute;
            margin-left: 40%;
            width: 20%;
            height: 20vh;
            line-height: 20vh;
            white-space: nowrap;
            background: bisque;
            border-radius: 10px;
            color: grey;
            font-size: 2.5vmin;
            justify-content: center;
            
            box-shadow: 0 0 10px #c1c1c1;
        }
            header #bulle:after {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                left: -31px;
                top: 50%;
                border: 8px solid transparent;
                border-right: 24px solid bisque;
                z-index: 3;
            }

nav {
    height: 3vh;
    background: rgb(168, 168, 168);
    width: 100%;
    display: flex;
    justify-content: center;
}
    nav #cou {
        width: 5%;
        height: 100%;
        background-color: rgb(224, 224, 224);
    }

main {
    display: flex;
    justify-content: center;
    background-color: #999999;
    height: 40vh;
}

    main #brasGauche {
        width: 6%;
        height: 100%;
        background-color: white;
        margin-left: 1%;
        margin-right: 1%;
        color: white;
    }

    main #tronc {
        width: 20%;
        height: 100%;
        background-color: white;
    }

    main #brasDroit {
        width: 6%;
        height: 100%;
        background-color: white;
        margin-left: 1%;
        margin-right: 1%;
    }

footer {
    height: 37vh;
    background-color: #7f7f7f;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
    footer #bas {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 16%;
    }
    footer #jambeGauche {
        width: 40%;
        height: 30vh;
        background-color: rgb(236, 236, 236);
    }
    footer #jambedroite {
        width: 40%;
        height: 30vh;
        background-color: rgb(236, 236, 236);
    }
    footer #piedsGauche {
        width: 40%;
        height: 6vh;
        background-color: black;
        color: white;
        margin-top: 1vh;
        text-align: center;
    }
    footer #piedsDroit {
        width: 40%;
        height: 6vh;
        background-color: black;
        color: white;
        margin-top: 1vh;
        text-align: center;
    }
    footer .short {
        width: 100%;
        height: 50%;
        background: brown;
    }

@keyframes yeuxFerme {
    0% {}
    25% {transform: rotateX(180deg);}
    100% {transform: rotateX(180deg);}
}

@keyframes teteBouge {
    0% {}
    50% {transform: rotate(10deg);}
    100% {transform: rotate(0deg);}
}

@keyframes boucheParle {
    0% {width: 45%;}
    25% {width: 50%;}
    100% {width: 45%;}
}

@keyframes brasBouge {
    0% {}
    25% {transform: rotate(115deg) translatex(-20vh) translateY(22vh);}
    50% {transform: rotate(130deg) translatex(-20vh) translateY(25vh);}
    75% {transform: rotate(115deg) translatex(-20vh) translateY(22vh);}
    100% {transform: rotate(0deg);}
}