body {
    padding: 0;
    margin: 0;
}


header {
    background-color: aqua;
    height: 20vh;
}

nav {
    background-color: royalblue;
    height: 10vh;
}

section {
    background-color: aqua;
    height: 60vh;
    width: 100%;
    
}

section aside {
    background-color: darkcyan;
    width: 20%;
    height: 60vh;
    float: right;
}

footer {
    background-color: darkblue;
    height: 10vh;
}

