body {
    height: 100%;
    padding: 0;
    margin: 0;
}

section {
    display: flex;
    justify-content: center;
}

article {
    margin-top: 20vh;
    height: 60vh;
    width: 60vh;
    background-image: url(../img/image.png);
    background-size: contain;
    border-radius: 10%;
    animation-name: annuler-arrondiv;
    animation-duration: 1s;
}

article:hover {
    animation-name: arrondiv;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes arrondiv {
    from {border-radius: 10%;}
    to {border-radius: 100%; box-shadow: inset 18px 18px 18px 9px black;}
}

@keyframes annuler-arrondiv {
    from {border-radius: 100%;}
    to {border-radius: 10%;}
}