
    #menu ul {
    list-style-type:none;
    text-align:center;
    
    }
    #menu li {
    float:left;
    }
    #menu li a {
    font-size: 40px;
    color:red;
    padding: 60px;
    
    }
    #menu li a:hover {
    color: rgb(161, 0, 0);
    
    }
    #menu ul li ul {
    opacity: 0;
    transition: visibility 0s, opacity 2s;
    position: absolute;
    
    }
    #menu ul li:hover ul {
    display: flex;
    visibility: visible;
    opacity: 1;
    
    }
    .black {
        color: black;
    }

    