body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: black;
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60vh;
    margin: auto;
}

#rouge {
    width: 20vh;
    height: 20vh;
    border-radius: 100%;
    animation-name: sequenceFeuRouge;
    animation-duration: 6s;
    animation-delay: 8s;
    animation-timing-function: step-start;
    background-color: grey;
    margin-bottom: 2vh;
}

#jaune {
    width: 20vh;
    height: 20vh;
    border-radius: 100%;
    animation-name: sequenceFeuJaune;
    animation-duration: 2s;
    animation-delay: 6s;
    animation-timing-function: step-start;
    background-color: grey;
    margin-bottom: 2vh;
}

#vert {
    width: 20vh;
    height: 20vh;
    border-radius: 100%;
    animation-name: sequenceFeuVert;
    animation-duration: 6s;
    animation-delay: 0s;
    animation-timing-function: step-start;
    background-color: grey;
    margin-bottom: 2vh;
}

#rouge2 {
    width: 20vh;
    height: 20vh;
    border-radius: 100%;
    animation-name: sequenceFeuRouge;
    animation-duration: 8s;
    animation-delay: 0s;
    animation-timing-function: step-start;
    background-color: grey;
    margin-bottom: 2vh;
}

#jaune2 {
    width: 20vh;
    height: 20vh;
    border-radius: 100%;
    animation-name: sequenceFeuJaune;
    animation-duration: 2s;
    animation-delay: 14s;
    animation-timing-function: step-start;
    background-color: grey;
    margin-bottom: 2vh;
}

#vert2 {
    width: 20vh;
    height: 20vh;
    border-radius: 100%;
    animation-name: sequenceFeuVert;
    animation-duration: 6s;
    animation-delay: 8s;
    animation-timing-function: step-start;
    background-color: grey;
    margin-bottom: 2vh;
}

#rouge:hover {
    background-color: red;
}
#jaune:hover {
    background-color: yellow;
}
#vert:hover {
    background-color: green;
}

#rouge2:hover {
    background-color: red;
}
#jaune2:hover {
    background-color: yellow;
}
#vert2:hover {
    background-color: green;
}

@keyframes sequenceFeuVert {
    from {}
    to {background-color: green;}
}

@keyframes sequenceFeuJaune {
    from {}
    to {background-color: yellow;}
}

@keyframes sequenceFeuRouge {
    from {}
    to {background-color: red;}
}
