body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 128);
    display: flex;
    justify-content: center;
    
}

section {
    border-style: solid;
    border-width: 5px;
    border-color: white;
    box-shadow: 3px 3px 3px 3px black;
    width: 100vh;
    height: 60vh;
    margin-top: 20vh;
}

iframe {
    height: 100%;
    width: 100%;
}