body
{
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(20, 20, 20);
}

table
{
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
    width: 50%;
    height: 50vh;
    text-align: center;
    margin-top: 20vh;
}

td,tr,th,thead,tfoot,tbody

{
    border: 3px solid black;
}

thead th {
    background-color: black;
    color: white;
}

thead td {
    background-color: rgb(85, 85, 85);
    color: white;
}

tbody th {
    background-color: rgb(214, 214, 214);
    color: white;
}

tbody td {
    background-color: rgb(167, 167, 167);
    color: white;
}

tfoot th {
    background-color: rgb(85, 85, 85);
    color: white;
}

tfoot td {
    background-color: black;
    color: white;
}