body {
    height: 100%;
    margin: 0;
    padding: 0;
}

section {
    width: 100%;
    height: 50px;
    background: black;
    display: flex;
    justify-content: start;
}

section article {
    width: 200px;
    background: grey;
    margin: 5px;
    text-align: center;
}

section article a {
    color: white;
    font-size: 1.5em;
}

section article a div {
    display: none;
    
    
}
