body {
    background: black;
    height: 90vh;
    padding: 0;
    margin: 0;
}
header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    margin: 40px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    overflow-y:auto;
    height: 70vh;   
}

article {
    flex: 40%;
    min-width: 700px;
    margin: 10px;
}

blockquote {
    font-style: italic;
    color: rgb(94, 94, 94);
}
blockquote:before {
    content: "# "
}
blockquote:after {
    content: " #"
}