body {
    background: black;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

section {
    margin: auto;
    width: 160vh;
    height: 80vh;
    display: flex;
    justify-content: center;
}

#soleil
{
    /* 
    1.392.684 km de diamètre
    */
    position: absolute;
    margin-top: 25vh;
    width: 12vh;
    height: 12vh;
    border-radius: 50%;
    background: linear-gradient(#ffde00, #ffc600);
}

#mercure
{
    /* 
    4.900 km de diamètre
    88 jours Révolution
    46 à 70 millions km de distance au soleil
    */
    position: absolute;
    margin-top: 29.9vh;
    width: 1vh;
    height: 1vh;
    border-radius: 50%;
    background: linear-gradient(#7d7d7d, #cccccc);
    /* Animation */
    animation: ellipse_mercure 1s linear infinite;
}

#venus
{
    /* 
    6.000 km de diamètre
    255 jours révolution
    */
    position: absolute;
    margin-top: 29.9vh;
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    background: linear-gradient(rgb(235, 86, 0), rgb(255, 145, 0));
    /* Animation */
    animation: ellipse_venus 3s linear infinite;
}

#terre
{
    /*
    12.756 km de diamètre
    365 jours de révolution
    */
    position: absolute;
    margin-top: 29.9vh;
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    background: linear-gradient(rgb(91, 91, 189), #009419);
    /* Animation */
    animation: ellipse_terre 4s linear infinite;
}

#mars
{
    /*
    6.779 km de diamètre
    686 jours de révolution
    */
    position: absolute;
    margin-top: 29.9vh;
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    background: linear-gradient(rgb(161, 4, 4), #cf6c0f);
    /* Animation */
    animation: ellipse_mars 8s linear infinite;
}

#jupiter
{
    /*
    142 984 km de diamètre
    4 335 jours de révolution
    */
    position: absolute;
    margin-top: 29.9vh;
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    background: linear-gradient(rgb(161, 0, 0), #cf6c0f);
    /* Animation */
    animation: ellipse_jupiter 30s linear infinite;
}

#saturne
{
    /*
    120 536 km de diamètre
    10 758 jours de révolution
    */
    position: absolute;
    margin-top: 29.9vh;
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
    background: linear-gradient(rgb(216, 99, 32), #db1dc2);
    /* Animation */
    animation: ellipse_saturne 60s linear infinite;
}

#uranus
{
    /*
    51 118 km de diamètre
    30 660 jours de révolution
    */
    position: absolute;
    margin-top: 29.9vh;
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    background: linear-gradient(rgb(107, 92, 192), #9c9a98);
    /* Animation */
    animation: ellipse_uranus 40s linear infinite;
}

#neptune
{
    /*
    49 528 km de diamètre
    60 148 jours de révolution
    */
    position: absolute;
    margin-top: 29.9vh;
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    background: linear-gradient(rgb(82, 114, 219), #520fcf);
    /* Animation */
    animation: ellipse_neptune 80s linear infinite;
}

@keyframes ellipse_mercure {
    from { transform: rotate(0deg) translateY(-8vh);}
    to { transform: rotate(360deg) translateY(-8vh);}
}
@keyframes ellipse_venus {
    from { transform: rotate(0deg) translateY(-10vh);}
    to { transform: rotate(360deg) translateY(-10vh);}
}
@keyframes ellipse_terre {
    from { transform: rotate(0deg) translateY(-13vh);}
    to { transform: rotate(360deg) translateY(-13vh);}
}
@keyframes ellipse_mars {
    from { transform: rotate(0deg) translateY(-18vh);}
    to { transform: rotate(360deg) translateY(-18vh);}
}
@keyframes ellipse_jupiter {
    from { transform: rotate(0deg) translateY(-26vh);}
    to { transform: rotate(360deg) translateY(-26vh);}
}
@keyframes ellipse_saturne {
    from { transform: rotate(0deg) translateY(-36vh);}
    to { transform: rotate(360deg) translateY(-36vh);}
}
@keyframes ellipse_uranus {
    from { transform: rotate(0deg) translateY(-46vh);}
    to { transform: rotate(360deg) translateY(-46vh);}
}
@keyframes ellipse_neptune {
    from { transform: rotate(0deg) translateY(-55vh);}
    to { transform: rotate(360deg) translateY(-55vh);}
}